body {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center; 
  padding-top: 50px;
        }

h1  {
  animation: floating 3s infinite ease-in-out;
  margin-bottom: 40px;
  transform: scale (200px);
  transform: skewX (10deg);
}

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); } 
  100% { transform: translateY(0px); }
        }

@keyframes rainbow {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
 }

 section  {
  margin: 20px 0;
 }